@import "tailwindcss";

@font-face {
  font-family: "Long";
  src: url("/fonts/long.woff");
}

@font-face {
  font-family: "Round";
  src: url("/fonts/round.woff");
}

@font-face {
  font-family: "Round Bold";
  font-weight: bold;
  src: url("/fonts/round-bold.woff");
}

@theme {
  --font-sans: "Round", sans-serif;
  --font-long: "Long", sans-serif;
  --font-round-bold: "Round Bold", sans-serif;
  --color-yellow: #fff9cb;
  --color-pink: #ffb0c4;
}

body {
  width: 100dvw;
  overflow-x: hidden;
  font-family: "Round", sans-serif;
  background-color: black;
}

@layer utilities {
  .flex-center {
    @apply flex justify-center items-center;
  }
}

@layer components {
  main {
    @apply w-dvw overflow-x-hidden;
    background: linear-gradient(
      223.17deg,
      rgb(27, 25, 39) 0%,
      rgb(27, 24, 41) 8.61%,
      rgb(27, 25, 39) 17.21%,
      rgb(23, 21, 34) 51.63%
    );
  }

  .hero-section {
    @apply w-dvw h-dvh relative overflow-hidden;
  }

  .gradient-text {
    @apply bg-clip-text text-transparent uppercase text-center font-round-bold absolute left-1/2 -translate-x-1/2
    md:text-[7rem] text-[5rem] !font-extrabold leading-[6.5rem] mt-60;
    background: radial-gradient(
      circle at 50% 93.7113vh,
      rgb(255, 211, 127) 0vh,
      rgb(232, 66, 122) 50vh,
      rgb(112, 30, 101) 90vh,
      rgba(32, 31, 66, 0) 115.636vh
    );
    background-clip: text;
    letter-spacing: -2px;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }
}
