@import "tailwindcss";

@font-face {
  font-family: "Long";
  src: url("/fonts/long.woff");
}

@font-face {
  font-family: "Round";
  src: url("/fonts/round.woff");
}

@font-face {
  font-family: "Round Bold";
  font-weight: bold;
  src: url("/fonts/round-bold.woff");
}

@theme {
  --font-sans: "Round", sans-serif;
  --font-long: "Long", sans-serif;
  --font-round-bold: "Round Bold", sans-serif;
  --color-yellow: #fff9cb;
  --color-pink: #ffb0c4;
}

body {
  width: 100dvw;
  overflow-x: hidden;
  font-family: "Round", sans-serif;
  background-color: black;
}

@layer utilities {
  .flex-center {
    @apply flex justify-center items-center;
  }
}

@layer components {
  main {
    @apply w-dvw overflow-x-hidden;
    background: linear-gradient(
      223.17deg,
      rgb(27, 25, 39) 0%,
      rgb(27, 24, 41) 8.61%,
      rgb(27, 25, 39) 17.21%,
      rgb(23, 21, 34) 51.63%
    );
  }

  .hero-section {
    @apply w-dvw h-dvh relative overflow-hidden;
  }

  .gradient-text {
    @apply bg-clip-text text-transparent uppercase text-center font-round-bold 
    md:text-[7rem] text-[5rem] !font-extrabold leading-[6.5rem] inset-0;
    letter-spacing: -2px;
  }

  .coming-soon-section {
    background: radial-gradient(
      circle at 50% 50%,
      rgb(255, 211, 127) 0%,
      rgb(232, 66, 122) 20%,
      rgb(112, 30, 101) 40%,
      rgba(23, 21, 34, 0) 60%
    );
    background-size: 100% 300%;
    background-position: 50% -100%;
    background-repeat: no-repeat;
    background-clip: text;
    -webkit-background-clip: text;
  }

  .logo-wrapper {
    opacity: 0;
    mask-image: linear-gradient(
      to bottom,
      rgba(255, 255, 255, 0) 45% rgba(255, 255, 255, 1) 55%
    );
    mask-size: 100% 100%;
    mask-position: 50% 50%;
  }
}
